@-moz-document url("about:newtab"),@-moz-document url("about:blank"){  
    body {
        background-color: #002b36 !important;
    }
}

@-moz-document url("about:home") {  
    body {
        background-color: #002b36 !important;
    }
    #newtab-search-text,.top-site-icon ,#onboarding-notification-bar,#onboarding-notification-action-btn,.card{
    	background-color: #002b36 !important;
    }

}